<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Fragment Expression</title>
</head>
<body>
    <h1>Fragment Expression demo:</h1>

    <!-- from file header in /common gets header fragment-->
     <div th:replace="~{common/header :: header}">

     </div>

    <!-- from file header in /common gets header fragment-->
    <!-- <div th:insert="~{common/header :: header}"></div>-->

    <div>
        <h1>Page Body</h1>
    </div>


    <!-- from file footer in /common gets footer fragment-->
    <div th:replace="~{common/footer :: footer}">

    </div>







</body>
</html>